/* ----- "accordion.css 09.09.2025    Accordion Specific Styles -----------*/

.module h2 {
  cursor: pointer; /* Hinweis, dass der Header anklickbar ist */
}

.module h2:hover {
  background-color: #e0e0e0;
}

/* Optional: Stil für den aktiven (geöffneten) Zustand */
.module.open .module-content {
  display: block;
}

/* Optional: Stil für den aktiven (geöffneten) Header */
.module.open h2 {
  background-color: #e0e0e0;
  border-bottom: none;
}

.module h2:before {
  content: "▼"; /* Unicode für gefülltes Dreieck nach unten */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em; /* Größe des Dreiecks anpassen */
  color: #333; /* Farbe des Dreiecks anpassen */
}

.module.open h2:before {
  content: "▲"; /* Unicode für gefülltes Dreieck nach oben */
}
